@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an assignment, I am trying to make a forum using ASP.NET.</p>
</div>
