@page
@model AuthSystem.Pages.NewPost
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "New post";
}
@{
    if(SignInManager.IsSignedIn(User))
    {
}
    <h3>@ViewData["Write New Post!"]</h3>
    <h3 class="text-black-50">Write a new Post!</h3><br>
    <form class="form-text" method="post">
        <input type="text" class="form-control" name="title" placeholder="Title" required/>
            <select name="subforum" required>
                <option value="General">General</option>
                <option value="Programming">Programming</option>
                <option value="Gaming">Gaming</option>
            </select>
            <br/>
            <label for="text">Content: </label>
            <input type="text" name="content" class="form-control-lg" placeholder=".." required/>
            <input type="submit" value="Send!"/>
        </form>
    <div class="text-black-50 text-decoration-none">
        <a asp-page="\Forum"><h3>Go Back!</h3></a>
    </div>
}